@import "../../../assets/style/vars";

.warning {
	&__desc {
		margin-bottom: 24px;
		font-family: "Montserrat", sans-serif;
		font-size: 32px;
		line-height: 36px;
		font-weight: 600;
		text-align: center;
		color: $ac;
	}
}

.btns {
	display: flex;
	justify-content: space-between;

	&__btn {
		margin-right: 24px;
	}
}
